DISCORD_TOKEN=MTUwNjA0NjQxMzA5NDUyMjk5MQ.GN-
DATA_DIR=./data
YOUTUBE_API_KEY=
SPOTIFY_CLIENT_ID=2fe6183639484d2d8daec49f25452456
SPOTIFY_CLIENT_SECRET=65b9d5e97a3b4da291f69fc24a5178b2

############
# Optional #
############

# CACHE_LIMIT=2GB

# ENABLE_SPONSORBLOCK=true
# SPONSORBLOCK_TIMEOUT=5    # Delay (in mn) before retrying when SponsorBlock server are unreachable.
# YT_DLP_PATH=yt-dlp
# YT_DLP_AUTO_UPDATE=true

# See the README for details on the below variables
# BOT_STATUS=
# BOT_ACTIVITY_TYPE=
# BOT_ACTIVITY_URL=
# BOT_ACTIVITY=
